@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100;
}

button:disabled {
  @apply opacity-50;
}

@media print {
  body {
    background: white;
    color: black;
  }
  .no-print {
    display: none !important;
  }
}
